.button {
    /* background-image: linear-gradient(#EEE, #DDD); */
    border: 1px solid #D5D5D5;
    border-radius: 3px;
    display: inline-block;
    font: 700 13px/18px Helvetica, arial;
    padding: 7px 12px;
}

.button--state-sucess {
    background: #569 linear-gradient(#79D, #569) repeat-x;
    border-color: rgb(108, 121, 158);
    color: #fff;

}

.button--state-danger {
    background-color: #900;
    color: #fff;
}